page-level {
    .bk-trans{
        background-color: transparent;
    }
    .wd-20{
        width: 20%;
    }
    .pd-8{
        padding: 8%;
    }
    .pd-4{
        padding: 4%; 
    }
    .mg-tp-20{
        margin-top: 20%;
    }
    .star-font{
        font-size: 30px;
    }
    .color-light{
        color: color($colors,blank);
    }
    .color-dark{
        color: color($colors,danger);
    }
    .font-big{
        font-size:2.5em;
    }
    .font-medium{
       font-size:1.5em;
    }
    .bk-sky{
        background-color: color($colors,level-content);
    }
    .img-center{
        text-align: center;
        img{
            margin-top: 50%;
        }

    }
    .content{
        color: white;
    }
    h1{                                                                                
        letter-spacing: 5px;
    }
    
}
.alert-md .alert-wrapper{
    background-color: color($colors,alert);
    color: color($colors,light);
}
.alert-md .alert-button{
    color: color($colors,sun);
}
.bd-rd-30{
    border-radius: 30%;    
}
.alert-wp .alert-head,.alert-md .alert-head{
    text-align: center;
}