page-level {
    .pd-8{
        padding: 8%;
    }
    .star-font{
        font-size: 30px;
    }
    .bk-color-gn{
        background-color: #4c7b4e;;
    }
    .color-light{
        color: white;
    }
    .color-dark{
        color: red;
    }
    .font-big{
        font-size:2.2em;
    }
    .font-medium{
       font-size:1.5em;
    }
    .bk-sky{
        background-color: rgb(83, 154, 182);
    }
    .content{
        color: white;
    }
    h1{                                                                                
        letter-spacing: 5px;
    }
    
}
.alert-md .alert-wrapper{
    background-color: color($colors,alert);
    color: color($colors,light);
}
.alert-md .alert-button{
    color: color($colors,sun);
}
.bd-rd-30{
    border-radius: 30%;    
}
.alert-wp .alert-head,.alert-md .alert-head{
    text-align: center;
}