<!--
  Generated template for the LevelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
  <ion-navbar>
    <ion-title>Level {{level}}</ion-title>
  </ion-navbar>
 
</ion-header>
 
<ion-content padding class="bk-sky">
 
  <div *ngIf="movie; then thenBlock else elseBlock"></div>
 
  <ng-template #thenBlock>
 
    <div  text-center>
 
    <span class="font-medium" *ngIf="counter==0">Guess the movie name.. <br/>Start with some letter</span>
 
    <br/>
 
    <button ion-button color="chance" *ngFor="let ch of chances">
 
      <ion-icon [name]="ch>=5-chance?'close':'sad'" [ngClass]="{'color-light':ch>=5-chance,'color-dark':ch<5-chance,'font-big':true}">
 
      </ion-icon>
 
    </button>
 
    </div>
    <h1 text-center [innerHTML]="movie"></h1>
    <alpha-keyboard (alphaPressed)="handleKeyboardEvents($event)"></alpha-keyboard>
  </ng-template>
 
  <ng-template #elseBlock class="bk-sky">
 
    <img src="assets/imgs/ActionBoard.gif">
 
  </ng-template>
 
 
  <div [innerHTML]="wikipage" class="hide"></div>    
 
</ion-content>