

.toolbar-title{

    color: rgba(255, 255, 255, 0.863);

}

.toolbar-background{

    background-color: color($colors,header);

}

/* .content{

    background-color: #3d6d88;

} */

.content{

    background-color: color($colors,body);

}

.back-button{

    color: color($colors,light);

}

.bk-home{

    background-color: color($colors,splash,base);

}

 

.card-background-page {

   

 

    .card-title {

        height: 100%;

        font-size: 2.0em;

        width: 100%;

        font-weight: bold;

        color: #fff;

    }

    .card-title img{

        margin-top: 50%;

        margin-left: 25%;

    }

}

.full-screen{

    bottom: 0;

    left: 0;

    position: absolute;

}

.full-wide{

    width: 100%;

}

 

.pd-rt-5{

    padding-right: 5%;

}