page-menu {
    .odd-card ion-item,.odd-card progress-bar{
        background-color: rgba(128, 201, 245, 0.83);
    }
    .even-card ion-item,.even-card progress-bar{
        background-color: rgb(245, 167, 0);
    }
    .color-dark{
       color: #303030;
       font-weight: bold;
    }
    .menu-item{
       border-radius: 100%;
    }
    .wd-55{
        width: 55%;
    }
    .top-right{
        height: 100%;
    }
    .ft-level-lock{
        font-size: 2.2em;
    }
}