page-menu {
    .odd-card,.even-card{
        margin: 6% 2%;
    }
    .odd-card ion-grid,.odd-card progress-bar{
        background-color: color($colors,card-odd);
    }
    .even-card ion-grid,.even-card progress-bar{
        background-color: color($colors,card-even);
    }
    .color-dark{
       color: color($colors,body);
       font-weight: bold;
    }
    .menu-item{
       border-radius: 100%;
    }
    .wd-55{
        width: 55%;
    }
    .top-right{
        height: 100%;
    }
    .ft-level-lock{
        font-size: 1.2em;
        font-weight: 600;
    }
    .font-big{
        font-size: 2.2em;
    }
    .toolbar-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: color($colors,dark);
    }
    
    .toolbar-background{
        background-color: color($colors,header);
    }
    
    .content{
        background-image: url('../assets/imgs/back.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .back-button{
        color: color($colors,dark);
    }
    .card-background-page {
        .card-title {
            height: 100%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: color($colors,blank);
        }
        .card-title img{
            margin-top: 50%;
            margin-left: 25%;
        }
        img{
            position: relative;
            text-align: center;
            opacity: 1;
            z-index: 1;
        }
    }
    ion-card.md-win{
        position: relative;
    }
    ion-grid.md-win{
        position: absolute;
        top: 0%;
        z-index: 0;
    }
    progress-bar.md-win{
        position: absolute;
    }
    span.md-win{
        z-index: 2;
        position: absolute;
        top: 68%;
        font-size: x-large;
        color:#d29500;
        width: 100%;
        background-color: transparent;
        text-align: center;
    }
}

.full-screen{
    bottom: 0;
    left: 0;
    position: absolute;
}

.full-wide{
    width: 100%;
}

.pd-rt-5{
    padding-right: 5%;
}