<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>Bollywood <div float-right>Score {{getScore()}}</div></ion-title>

    

  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page" >

  <ion-card *ngFor="let item of recordEntry; index as i;" (click)="item[1].status?getSublevels(i):''" [ngClass]="{'odd-card':((i+1)%2!=0),'even-card':((i+1)%2==0)}">
  
   
  
    <ion-item>
  
      <div class="wd-55" item-start>
  
        <img class="menu-item" src="assets/imgs/logo-{{i%5}}.gif">
  
      </div>
  
      <div class="top-right" item-end>{{item[1].score}}/30</div>
  
      <div item-content text-center class="ft-level-lock"> <ion-icon name="lock" color="lock" *ngIf="!item[1].status"></ion-icon>
  
      <h2 class="color-dark">Level {{item[0]}}</h2>
  
      </div>
  
    </ion-item>
  
    <progress-bar *ngIf="item[1].status" [progress]="item[1].score/30"></progress-bar>
  
  </ion-card>
  
   
  
  </ion-content>